* {
    box-sizing: border-box;
}


/* grid system using 12 cols 100/12 = 8.33 */
[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.mainnavbar {
  overflow: hidden;
  background-color: white;

}

.mainnavbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.mainnavbar .searchbar {
  float: right;
}

.mainnavbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
border: 1px solid #a9a9a9;
}

.mainnavbar .searchbar button {
  float: right;
  padding: 7px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #731278;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}
nav a:hover {
    text-decoration: underline;
    text-decoration-color: #731378;
      background-color: #ddd;
}
nav a:focus {
    text-decoration: underline;
    color: black;
    background-color: orange;
}
nav a.active {
  text-decoration: underline;
  text-decoration-color: purple; 
}

nav .searchbar button:focus {
    color: black;
    background-color: orange;
}
nav .searchbar button:hover {
  background: #ccc;
} 

nav .mainnavbar input[type=text]:focus {
color: black;
    background-color: orange;

}

body,
html {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
h2{
        font-weight: normal;
}
h3 {
    font-size: 1.6em;
    font-weight: 400;
}
.civiclogo {    
    float: left;
    max-width: 100%;
    height: 40px;
    margin: 5px;}
.hero-banner {
    background-image: linear-gradient(105deg, #731378 10%, #018195 65%);
    position: inherit;
    height: 420px;
    max-width: 100%;
}

.hero-text {
    position: static;
    padding-left: 1.5%;
    color: white;
    font-size: 1.3em;
    padding-top: 78px;
}

.hero-text-disclamer {
    color: white;
    text-align: right;
    font-size: 10px;
    padding-top: 25px;
    padding-right: 57px;
}

.hero-image {
    position: relative;
    right: -500px;
    height: 96%;
    top: -383px;
}


.box {
    background-color: #731378;
    text-align: left;
    padding: 18px;
    margin: 10px;
    font-size: 1em;
    color: white;
    height: 320px;
    cursor: pointer;
        margin-bottom: -20px;
}

.lightpurpel{
        background-color: #55468a;
}
.purpelblue{
        background-color: #3f6696;
}
.blue{
        background-color: #037ca5;
}
.green{
        background-color: #018195;
}
.box:hover {
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.3);
}
.box:focus {
    background-color: orange;
    color: black;
}

.fa-arrow-circle-right {
    position: relative;
    bottom: 40px;
    left: 70%;
    color: white;
}

.cookingicon {
    position: relative;
    top: 35px;
    right: -57%;
}

.Abouttext {
    padding: 60px;
    background-color: #f1f1f1;
    margin-right: 2.5%;
    . z-index: -1;
    font-size: 1.1em;
    height: 550px;
}

.footerContainer {
    position: relative;
    padding-bottom: 45px;
    padding-top: 20px;
    overflow: hidden;
    margin-top: 50px;
    background-color: #55468a;
    color: white;
    padding-left: 1%;
    font-size: 13px;
}

.footerContainer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footerContainer a {
    color: white;
    line-height: 18pt;
}

.footerContainer li {
    line-height: 18pt;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: black;
    background-color:orange;
    left: 3px;
    top: 4px;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 999;
    padding: .625em;
}

@media only screen and (max-width:2010px) {
    .cookingicon {
        right: -50%;
    }
}

@media only screen and (max-width:1725px) {
    .cookingicon {
        right: -42%;
    }
}

@media only screen and (max-width:1600px) {
    .cookingicon {
        right: -39%;
    }
}

@media only screen and (max-width:1550px) {
    .cookingicon {
        right: -35%;
    }

}

@media only screen and (max-width:1335px) {
    .cookingicon {
        right: -21%;
    }
.Abouttext {height: 620px;}
}

@media only screen and (max-width:1080px) {
    .cookingicon {
        right: -12%;
    }
}

@media only screen and (max-width:990px) {
    .col-3 {
        width: 50%;
    }

    .col-8 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .Abouttext {
        height: auto;
    }
}

@media only screen and (max-width:850px) {
    .hero-image {
        display: none;
    }
}

@media only screen and (max-width:620px) {
    .col-3 {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
  .mainnavbar .searchbar {
    float: none;
    background: white;
    color: black;
  }
  .mainnavbar a, .mainnavbar input[type=text], .mainnavbar .searchbar button {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .mainnavbar input[type=text] {
    border: 1px solid #ccc;  
  }
  .mainnavbar .searchbar button {
    background-color: gray;
    color: White;
  }

}
